<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/product/<%=p1[0]._id%>/?_method=PATCH" method="post">
        <label for="">title</label>
        <input type="text" name="title" id="" value="<%=p1[0].title%>">
        <br>
        <label for="">img_url</label>
        <input type="text" name="img_url" id="" value="<%=p1[0].img_url%>">
        <br>
        <label for="">Price</label>
        <input type="number" name="price" id="" value="<%=p1[0].price %>">
        <br>
        <label for="">desc</label>
        <textarea name="desc" id=""><%=p1[0].desc %></textarea>
        <button type="submit">SAVE</button>
    </form>
</body>
</html>